.App {
  text-align: center;
  background-color: 'red';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  border: 1px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name{
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 98vh;

}

.child{
  width: 60%;
  border: 1px solid red;
  height: 40vw;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.info{
  margin-left: 10px;
}
.grid{
  height: 32vw;
  /* border: 1px solid red; */
  border-radius: 10px;
  background-image: url(./images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;

}

